<nav class="nav-fill">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-van-tab" data-toggle="tab" href="#nav-van" role="tab" data-animate-ref="van" data-rate-ref="van-rates" aria-controls="nav-van" aria-selected="true">Van<span class="weight-limit">(1000Lbs Limit)<span></a>
    <a class="nav-item nav-link" id="nav-16ft-tab" data-toggle="tab" href="#nav-16ft" role="tab" data-animate-ref="16ft" data-rate-ref="16ft-rates" aria-controls="nav-16ft" aria-selected="false">16ft<span class="weight-limit">(7500Lbs Limit)<span></a>
    <a class="nav-item nav-link" id="nav-26ft-tab" data-toggle="tab" href="#nav-26ft" role="tab" data-animate-ref="26ft" data-rate-ref="26ft-rates" aria-controls="nav-26ft" aria-selected="false">26ft<span class="weight-limit">(10,000Lbs Limit)<span></a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-van" role="tabpanel" aria-labelledby="nav-van-tab" data-animate-ref="van"></div>
  <div class="tab-pane fade" id="nav-16ft" role="tabpanel" aria-labelledby="nav-16ft-tab" data-animate-ref="16ft"></div>
  <div class="tab-pane fade" id="nav-26ft" role="tabpanel" aria-labelledby="nav-26ft-tab" data-animate-ref="26ft"></div>
</div>
<div class="temp-line"></div>
<br>
<center><h1>Starting ZipCode(Origin)</h1></center><br>
<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">Starting ZIP Code</span>
  </div>
  <input type="text" id="starting-zipcode-input" class="form-control large-font" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>

<br><br>

<center><h1>Starting ZipCode(Destination)</h1></center><br>
<div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">Ending ZIP Code</span>
  </div>
  <input type="text" id="ending-zipcode-input" class="form-control large-font" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>

<br><br>

<center><div class="btn btn-lg btn-success bigger-btn" id="get-rates">Get Rate</div></center>

<br><br>

<div id="rate-display">...</div>

<style type="text/css">

.nav-link {
    padding: 5rem 1rem;
    font-size: 3em;
    color: black;
    background: #fff;
    transition: background-color .6s;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #dee2e6;
}
.nav-link:hover {
	color: black;
}

.weight-limit {
	font-size: 20px;
	display: block;
}

.input-group-lg > .input-group-prepend > .input-group-text {
	width: 15.95em;
    padding-left: 6.2em;
    font-size: 2em;
    height: 6em;
}

body input.form-control.large-font {
	font-size: 3em;
}

body div.btn.bigger-btn {
	width: 18em;
    height: 3em;
    line-height: 2;
}

#rate-display {
	width: 100%;
	height: 4em;
	background-color: lightgray;
	font-size: 4em;
	line-height: 3.5;
	text-align: center;
}

</style>

<script type="text/javascript">
	var temp_line;
	var miles;
	jQuery(function($){
		temp_line = $('.temp-line');
		$(temp_line).css({
		  	'position': 'absolute',
		  	'height': 2,
		  	'width': $('.nav-link.active').outerWidth(),
		  	'top': $('.nav-link.active').outerHeight(),
		  	'left': $('.nav-link.active').offset().left,
		  	'background': 'green'
		  });

		$('#nav-tab a').on('click', function (e) {
		  e.preventDefault()
		  $(this).tab('show');

		  $(temp_line).remove();

		  $(this).animate({
		  	'opacity': 1
		  }, 600);

		  var animate_ref = $('#nav-tabContent').children('div[data-animate-ref="'+$(this).attr('data-animate-ref')+'"]');

		  var tab_height = $(this).outerHeight();
		  var tab_width = $(this).outerWidth();
		  var offset_left = $(this).offset().left;
		  console.log(offset_left);

		  temp_line = $('<div class="temp-line"></div>');

		  $(animate_ref).append(temp_line);
		  $(temp_line).css({
		  	'position': 'absolute',
		  	'height': 2,
		  	'top': tab_height,
		  	'left': offset_left + (tab_width/2),
		  	'background': 'green'
		  });


		  // animate line
		  $(temp_line).animate({
		  	'width': tab_width,
		  	'left': offset_left
		  }, 600);


		  if($('#rate-display').hasClass('initialized')) {
		  	var directionsService = new google.maps.DirectionsService;
			calculateAndDisplayRoute(directionsService);
		  }
		});

		// $('#get-rates').on('click', function(){

		// 	var rate_ref = $('.nav-link.active').attr('data-rate-ref');
		// 	var zipcode = $('#zipcode-input').val();
		// 	console.log(zipcode);
		// 	$.ajax({
		// 		url: "dashboard/get_rates",
		// 		type: 'GET',
  // 				data: {'rate_ref': rate_ref, 'zipcode': zipcode},
  // 				success: function(data) {
  // 					rate = Number(data).toFixed(2);
  // 					$('#rate-display').text('$'+rate);
  // 					$('#rate-display').addClass('initialized');
  // 				}
		// 	});
		// });

			$('#get-rates').on('click', function(){
			var directionsService = new google.maps.DirectionsService;
			calculateAndDisplayRoute(directionsService);
		});


      	function calculateAndDisplayRoute(directionsService) {
	        directionsService.route({
	          origin: document.getElementById('starting-zipcode-input').value,
	          destination: document.getElementById('ending-zipcode-input').value,
	          travelMode: 'DRIVING'
	          // trafficModel: 'BEST_GUESS'
	        }, function(response, status) {
	          if (status === 'OK') {
	            // directionsDisplay.setDirections(response);
	            // console.log(response);
	            var test_response = response['routes'][0]['legs'][0]['distance'];
	            miles = parseInt(test_response['value'])*(0.000621371);


	           get_rates(miles);
	          } else {
	            window.alert('Directions request failed due to ' + status);
	          }
	        });
	    }

	    function get_rates(miles) {
			var rate_ref = $('.nav-link.active').attr('data-rate-ref');

	    	 $.ajax({
					url: "dashboard/get_rates",
					type: 'GET',
	  				data: {'miles': miles, 'rate_ref': rate_ref},
	  				success: function(data) {
	  					rate = Number(data).toFixed(2);
	  					$('#rate-display').text('$'+rate);
	  					$('#rate-display').addClass('initialized');
	  				}
				});
	    }

	});

	
	// google maps api stuff



</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZxbBGxzV2sy-yXu_9iLCBqnaVur5ww20&sensor=SET_TO_TRUE_OR_FALSE">
    </script>

